body {
	height: 100vh;
	background-color: #d2d2d2;
}
main {
	max-width: 1080px;
	background-color: #fdfdfd;
	margin: 0 auto;
}
footer {
	box-sizing: border-box;
	max-width: 1080px;
	margin: 0 auto;
	background-color: #575757;
	display: flex;
	justify-content: space-evenly;
	padding: 0.6em;
}
footer svg {
	height: 2em !important;
	width: 2em !important;
	color: #fefeef;
	transition: color .14s ease;
}
footer svg:hover {
	color: #a896f9;
}